<h1>Editing Birthtracker</h1>

<%= render 'form', birthtracker: @birthtracker %>
<br/>
<%= link_to 'Show', @birthtracker,class:"btn btn-info" %> 
<%= link_to 'Back', birthtrackers_path,class:"btn btn-info" %>
